.counter {
    color: dodgerblue;
    text-align: center;
    border-color: black; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.h1Counter {
    color: red;
}
