.App {
  position: absolute;
  top: 30%;
  left: 45%;
  background-color: darkslategray;
  border-color: black; /* Цвет границы */
  border-style: solid; /* Стиль границы */
  padding: 5px;
  border-radius: 10px;
}

