.App {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 300px;
  margin-left: -200px;
}

.SetterMinMax {
    background-color: black;
    width: 300px;
    border-color: whitesmoke; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.Counter {
    background-color: black;
    width: 300px;
    border-color: whitesmoke; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 150px;
}

.Input {
    background-color: whitesmoke;
    border-color: whitesmoke; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    border-radius: 10px;
    padding: 5px;
}


